
<div class="container">
  <div class="card-container">
    <% @shelters.first(3).each do |shelter| %>
    <% pet = shelter.pets.sample %>
    <div class="card">
      <%= image_tag pet.image, class: "card-img" %>
      <div class="card-content">
      <div class="card-text">
        <h2><%= pet.name %></h2>
        <h3><%= shelter.location %></h3>
        <p><%= shelter.description %></p>
      </div>
      <%= link_to 'Visit Me!', shelter_path(shelter), class: "button-blue text-decoration-none text-white"%>
      </div>
    </div>
      <% end %>
     </div>


    <div class="info-card">
    <h2>Text here</h2>
    <p>Small description here</p>
    </div>

  <div class="card-container">
    <div class="card">
        <img class = "card-img" src="https://cdn.britannica.com/86/166986-050-4CEFE5DE/cute-kitten-and-puppy-outdoors-in-grass.jpg" alt="cat and dog">
      <div class="card-content">
      <div class="card-text">
        <h2>Shelter Name</h2>
        <h3>Location</h3>
        <p>Small description</p>
      </div>
      <button class="button-blue">Click Me</button>
      </div>
    </div>


      <div class="card">
        <img class = "card-img" src="https://cdn.britannica.com/86/166986-050-4CEFE5DE/cute-kitten-and-puppy-outdoors-in-grass.jpg" alt="cat and dog">
      <div class="card-content">
      <div class="card-text">
        <h2>Shelter Name</h2>
        <h3>Location</h3>
        <p>Small description</p>
      </div>
      <button class="button-blue">Click Me</button>
      </div>
    </div>


      <div class="card">
        <img class = "card-img" src="https://cdn.britannica.com/86/166986-050-4CEFE5DE/cute-kitten-and-puppy-outdoors-in-grass.jpg" alt="cat and dog">
      <div class="card-content">
      <div class="card-text">
        <h2>Shelter Name</h2>
        <h3>Location</h3>
        <p>Small description</p>
      </div>
      <button class="button-blue">Click Me</button>
      </div>
    </div>
  </div>

</div>

<footer>
</footer>
