
 <div class="shelter-banner" style= "background-image: url(<%= (@shelter.c_banner.present? && @shelter.c_banner.attached?) ? cl_image_path(@shelter.c_banner.key) : image_path('https://cdn.firespring.com/images/422d7c06-dc88-45f3-830c-b3851e15e1c3.jpg') %>)">
      <h1 class="white-text"><%= @shelter.name %></h1>
<%=image_tag @shelter.logo, class: "avatar-bordered"%>
    </div>
<div class="container">

    <div class="row">
        <div class="info col-md-8">
        <div class="m-5"></div>
          <div class="row m-3">
              <h1 class="mt-4"><%= @shelter.name %></h1>
              <p><%= @shelter.description %><p>
          </div>
          <div class="shelter-pet-card-container">
              <% pets = @shelter.pets %>
              <% pets.each do |pet| %>
                <div class="shelter-pet-card">
                  <%= image_tag pet.image, class: "shelter-pet-card-container-image" %>
                  <div class="shelter-pet-card-content">
                    <div class="shelter-pet-card-content-text">
                      <h2><%= pet.name %></h2>
                    </div>
                  </div>
              </div>
              <% end %>
          </div>
        </div>
        <div class="col-md-4 p-3">
           <% unless @shelter.user == current_user %>
            <div class="bg-white border sticky-top p-3 my-3">
              <div class="py-2">
                <h2>Booking</h2>
              </div>
              <%# <div class="d-grid gap-2">
                <button type="button" class="button-blue-lg">Insert button</button>
              </div> %>
                <%= render "bookings/form" %>
            </div>
          <% end %>
        </div>
    </div>
</div>

<% if @shelter.user == current_user %>
  <%= render "pets/form" %>
<% end %>
