<div>
  <h1>Bookings</h1>
</div>
<div class="container">
  <div class="row justify-content-between">
    <div class="list-group col-3 sticky-top">
      <ul class="sticky-top">
        <a href="#my-bookings" class="list-group-item list-group-item-action border border-0 bg-transparent">
          <h4>My Bookings</h4>
        </a>
        <% if @user.shelters.any? %>
          <a href="#shelter-bookings" class="list-group-item list-group-item-action border border-0 bg-transparent">
            <h4>My Shelter's Bookings</h4>
          </a>
          <ul>
            <% @user.shelters.each do |shelter| %>
              <h5><%=link_to shelter.name, "#shelter-#{shelter.id}", class:"text-decoration-none text-black" %></h5>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
    <div class="col-9">
      <%# <div class="booking-card"> %>
      <h2 id="my-bookings">My Bookings</h2>
      <%@user.bookings.each do |booking| %>
        <div class="card-product">
          <%= image_tag booking.shelter.banner, class: "card-img img-fluid rounded-start" %>
          <div class="card-product-infos w-100">
            <div class="row d-flex justify-content-end align-contents-center">
              <div class="col-6">
                <h4><%= booking.shelter.name %></h4>
                <h5><%= booking.date %></h5>
                <h5><%= booking.time_slot %></h5>
              </div>
              <div class="col-6 d-flex justify-content-center flex-warp align-items-center">
                <h5><%= booking.status %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%# </div> %>
      <% if @user.shelters.any? %>
        <h2 id="shelter-bookings">My Shelter's Booking</h2>
        <div class="justify-content-center w-100">
          <% @user.shelters.each do |shelter| %>
            <h3 id="shelter-<%= shelter.id %>"><%=link_to shelter.name, shelter_path(shelter), class:"text-decoration-none text-black" %></h3>
            <% shelter.bookings.each do |booking| %>
              <div class="card-shelter d-flex justify-content-center flex-warp align-items-center text-center">
                <div class="col-3 text-center">
                  <h5><%= booking.user.name %></h5>
                </div>
                <div class="col-3">
                  <h6><%= booking.user.email %></h6>
                </div>
                <div class="col-3">
                  <h6 class="align-items-center">
                    <%= booking.date %>
                    <%= booking.time_slot %>
                  </h6>
                </div>
                <div class="col-3 text-center">
                  <% if booking.pending? %>
                    <div class="d-flex justify-content-center">
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'Confirmed'} %>
                        <%= f.submit 'Confirm', class: 'btn btn-info' %>
                      <% end %>
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'Declined'} %>
                        <%= f.submit 'Decline', class: 'btn btn-light' %>
                      <% end %>
                    </div>
                  <% else %>
                    <p class='booking-tag text-center'><%= booking.status %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
